body {
    height: 100%;
    width: 100%;
    background: #e9e9e9;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #010b26;
    /* position: absolute; */
    box-sizing: border-box;
    display: table;
}

* {
    -webkit-transition: 300ms;
    transition: 300ms;
}
.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 100%;
    padding: 10px;
    min-height: 65px;
    background-color: #FFF;
}

header {
    width: 1500px;
    padding: 25px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    float: right;
    margin: 25px;
}

nav ul li {
    margin-left: 35px;
    line-height: 1.5;
    letter-spacing: 1px;
}

nav ul a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: .5s;
    color: #181818;
    font-size: 18px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

nav ul a:hover {
    color: #00bd4e;
}

/* .main-nav {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    padding: 15px 80px;
    background: rgba(0,0,0,.7);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    min-height: 65px;
    opacity: 0.99;
}


nav ul li {
    margin-left: 35px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #45463e;
}

nav ul a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: .5s;
} */

.maina {
    display: inline-block;
    vertical-align: bottom;
    color: #181818;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
    height: 760px;
    /* background-color: #fbf9f4; */
}

.maina h1 {
    font-size: 60px;
}

/* .stem-desc {
    height: 300px;
} */

.why-desc {
    /* height: 420px; */
    margin: 0 auto;
    /* padding: 130px; */
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    display: inline-flex;
    border-width: 1px;
    border-radius: 100px;
    background-color: #fbf9f4;
    background-position: center center;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #ffffff;
    align-content: stretch;
    align-items: stretch;
    justify-content:  space-evenly;
}

.why {
    display: block;
    color: #181818;
    font-size: 64px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.3;
    font-weight: 100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.toys {
    height: 90px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    border-width: 1px;
    border-radius: 100px;
    background-color: #fbf9f4;
    background-position: center center;
    border-color: #181818;
    border-style: solid;
    color: #181818;
    font-size: 20px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.45;
    font-weight: 500;
    background-position: center center;
}

.team {
    text-align: center;
    margin: 0 auto;
    color: rgb(231, 156, 37);
    font-size: 64px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.3;
    font-weight: 100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.intro {
    text-align: center;
}

ul {
    list-style-type: none;
}

h2,
h3,
h4,
h5,
p,
.interes {
    color: #181818;
    font-size: 64px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.3;
    font-weight: 100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #6ABCEA;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navbar-dark {
    padding: 15px !important;
    background: #13191d !important;
}

.sidebar {
    line-height: 26px;
    padding-top: 50px;
}

.sidebar ul {
    margin: 30px 0px;
}

.sidebar .nav-link {
    display: block;
    text-align: center;
}

.sidebar .nav-link i {
    display: block;
    text-align: center;
}

.sidebar .nav-link.active {
    color: #03A9F4;
}

/* .person_list {
    margin-top: 5rem;
    padding-left: 4rem !important;
} */

.row {
    margin: 0 auto;
    padding: 25px;
}

.card-view {
    background: #ffffff;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 10px;
    display: inline-block;
}

.card-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card-header-icon {
    position: relative;
}

.btn {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-width: 2px;
    border-radius: 50px;
    background-color: #fe570b;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    /* transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; */
}

.header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
}

.header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
}

.card-view:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.card-person-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}

.card-person-content-head {
    display: table;
    width: 100%;
}

.card-person-title {
    font-size: 22px;
    margin: 0;
    display: table-cell;
}


/* @media Running time and (max-width: 500px) {
    .card-view {
        width: 95%;
        max-width: 95%;
        margin: 1em;
        display: block;
    }
    .container {
        padding: 0;
        margin: 0;
    }
} */
 
.kindergartener-1 {
    background: url("../final/img/s1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.kindergartener-2 {
    background: url("../final/img/s2.jpg");
    background-size: cover;
}
 
.kindergartener-3 {
    background: url("../final/img/s3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.kindergartener-4 {
    background: url("../final/img/s4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.kindergartener-5 {
    background: url("../final/img/s5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.kindergartener-6 {
    background: url("../final/img/s6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.kindergartener-7 {
    background: url("../final/img/s7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.kindergartener-8 {
    background: url("../final/img/s8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stem-desc {
    display: inline-flex;
    border-width: 1px;
    border-radius: 100px;
    background-color: #fbf9f4;
    background-position: center center;
    border-color: #181818;
    border-style: solid;
    height: 240px;
    width: 90%;
    
}

.stem {
    color: #181818;
    font-size: 20px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.6;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding: 40px;
}

.desc {
    color: #181818;
    font-size: 18px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.45;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding: 40px;
}

.column {
    position: absolute;
    top: 570px;
    display: inline-flex;
    border-width: 1px;
    border-radius: 100px;
    background-color: #fbf9f4;
    background-position: center center;
    /* height: 240px; */
}

.description {
    position: relative;
    display: block;
    color: #181818;
    font-size: 18px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin: 15px;
    left: 450px; top:0px;
}
/* @media Running time and (max-width: 500px) {
    .card-view {
        width: 95%;
        max-width: 95%;
        margin: 1em;
        display: block;
    }
    .container {
        padding: 0;
        margin: 0;
    }
} */
.price {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-content: center;
  justify-content: space-between;
  color: #181818;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Gilroy';
  line-height: 1.55;
  margin: 0 auto;
}

.price ul {
    margin: 0;
    padding: 0;
}

.price-desc {
    display: inline-flex;
    position: relative;
    border-width: 1px;
    border-radius: 100px;
    background-color: #73bffe;
    background-position: center center;
    border-color: #73bffe;
    border-style: solid;
    height: 110px!important;
    width: 1150px; left: 154.5px; top: 5px; height: 100px;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Gilroy';
    line-height: 1.55;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;

}

.area1, .area2, .area3 ul {
    color: #181818;
    font-size: 64px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.3;
    font-weight: 100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: left;
    padding: 0;
}
    
.yellow {
    position: absolute;
    left: 0;
    height: 470px;
    background-color: #fec901;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: visible;
}

.girl {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.question-1 {
    margin: 125px;
}

.education {
    display: inline-flex;
    border-width: 1px;
    border-radius: 100px;
    background-color: #fbf9f4;
    background-position: center center;
    width: 100%;
    font-size: 24px;
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #ffffff;
    align-content: stretch;
    align-items: stretch;
    justify-content:  space-evenly;
}

.education li::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 30px;
    background-image: url('img/arr.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #toy::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/quality.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }
  #med::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/doctor.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }
  #photo::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/Tilda_Icons_44_travel_photography.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }
  #walk::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/18ked_opendoors.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }
  #holiday::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/5ev_baloons.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #video::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/Layer_9.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #positive::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/kideducate_artistyc.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #lego::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/kideducate_puzzle.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #profi::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/Tilda_Icons_41_hotel_couple.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #food::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/Tilda_Icons_42_restaurant_fruits.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #psychologist::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/18ked_psychology.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  #modern::before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background-size: 30px; */
    background-image: url('img/Tilda_Icons_45_quest_route.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -40px;
  }

  .why-desc li {
    color: #181818;
    font-size: 18px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  }


.acor-container {
    margin: 20px 0;
}
.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #BFE2FF;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    background-color: #337AB7;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #BFE2FF;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
.acor-container label:hover {
    color: #FFF;
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '\276F';
    float: right;
}
.acor-container input:checked + label {
    background-color: #285f8f;
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}

.tn-1{
    color: #181818;
    font-size: 20px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.4;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}